/* Reset and base styles  */

html,
body {
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Fraunces;
  font-display: swap;
  src: url("../fonts/Fraunces_9pt-Black.woff2") format("woff2"), url("../fonts/Fraunces_9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Fraunces;
  font-display: swap;
  src: url("../fonts/Fraunces_9pt-Black.woff2") format("woff2"), url("../fonts/Fraunces_9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.header {
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 113px;
  padding: 0 15px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__burger {
  display: none;
}

.menu {
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  color: #83888f;
  text-transform: uppercase;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.menu__item:not(:last-child) {
  margin-right: 33px;
}

.menu__item:hover,
.menu__item:active {
  color: #333d4b;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Fraunces;
  font-display: swap;
  src: url("../fonts/Fraunces_9pt-Black.woff2") format("woff2"), url("../fonts/Fraunces_9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.footer {
  margin-bottom: 88px;
}

.footer__container {
  background-color: #2c343e;
  padding: 47px 6%;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 6%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer .menu__item--footer:not(:last-child) {
  margin-right: 5%;
}

.footer .menu__item--footer:hover,
.footer .menu__item--footer:active {
  color: #fefcf7;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.footer__icons-item path {
  fill: #fefcf7;
}

.footer__icons-item path:hover {
  fill: #fdd6ba;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Fraunces;
  font-display: swap;
  src: url("../fonts/Fraunces_9pt-Black.woff2") format("woff2"), url("../fonts/Fraunces_9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.create-plan {
  margin-bottom: 168px;
}

.no-webp .create-plan__container {
  background: url("../img/plan/desktop/image-hero-blackcup.jpg") 0 0/cover no-repeat; }

.create-plan__container {
  padding: 134px 85px;
}

.content-create-plan {
  color: #fefcf7;
}

.content-create-plan__title {
  font-size: 72px;
  line-height: 100%;
  margin-bottom: 32px;
}

.content-create-plan__text {
  max-width: 445px;
}

.preference__container {
  padding: 168px 6%;
}

.preference__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preference__summary {
  background-color: #2c343e;
  margin-bottom: 40px;
  border-radius: 8px;
  padding: 47px 64px;
}

.preference__summary-title {
  color: #83888f;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.preference__summary-text {
  font-size: 24px;
  line-height: 166.6666666667%;
  color: #fff;
}

.preference__summary span {
  color: #0e8784;
}

.preference__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: rgba(131, 136, 143, 0.3);
  color: #fefcf7;
}

.sidebar-preference {
  font-size: 24px;
  line-height: 133.3333333333%;
  color: rgba(131, 136, 143, 0.6);
  padding-right: 30px;
}

.sidebar-preference__item {
  padding: 24px 0;
}

.sidebar-preference__item:not(:last-child) {
  border-bottom: 2px solid rgba(131, 136, 143, 0.2);
}

.sidebar-preference__item span {
  margin-right: 28.5px;
  color: rgba(131, 136, 143, 0.3);
}

.sidebar-preference__item #green {
  color: rgba(14, 135, 132, 0.4);
}

.sidebar-preference__item:hover {
  cursor: pointer;
  color: #333d4b;
}

.sidebar-preference__item:hover span {
  color: rgb(131, 136, 143);
}

.sidebar-preference__item:hover #green {
  color: rgb(14, 135, 132);
}

.sidebar-preference__preferences {
  padding-top: 0;
}

.accordion-preference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 730px;
}

.accordion-preference__item {
  margin-bottom: 88px;
}

.item-accordion__title {
  color: #83888f;
  font-size: 40px;
  line-height: 120%;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

.item-accordion__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.item-accordion__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  margin-top: 0;
  -webkit-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
}

.item-accordion__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background-color: #f4f1eb;
  min-height: 250px;
  border-radius: 8px;
  padding: 32px 28px;
}

.item-accordion__column:hover {
  background-color: #fdd6ba;
  cursor: pointer;
}

.item-accordion .item-accordion__column--active {
  background-color: #0e8784;
  color: #fff;
}

.item-accordion__column-title {
  font-size: 24px;
  line-height: 133.3333333333%;
  margin-bottom: 24px;
}

.item-accordion--active .item-accordion__columns {
  opacity: 1;
  visibility: visible;
  margin-top: 56px;
  max-height: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-accordion--active .item-accordion__arrow {
  -webkit-transform: rotateX(180deg) translateY(50%);
          transform: rotateX(180deg) translateY(50%);
}

.preference__button--active {
  color: #fefcf7;
  background-color: #0e8784;
}

.preference__button--active:hover,
.preference__button--active:active {
  background-color: #66d2cf;
}

.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px;
}

.popup__content {
  background-color: #fff;
  max-width: 540px;
  color: #83888f;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup__title {
  height: 136px;
  color: #fff;
  background-color: #333d4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  line-height: 120%;
  padding: 48px 56px;
}

.popup__summary-text {
  padding: 56px 56px 7px;
  font-size: 24px;
  line-height: 166.6666666667%;
}

.popup__summary-text span {
  color: #0e8784;
}

.popup__confirm-text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  padding: 0 56px 46px;
  color: #333d4b;
}

.popup__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 56px 56px;
}

.popup__price {
  font-size: 32px;
  line-height: 112.5%;
  color: #333d4b;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e8784;
  color: #fff;
  border-radius: 6px;
  height: 56px;
}

.popup__button:active {
  background-color: #66d2cf;
}

.popup-open {
  opacity: 1;
  visibility: visible;
}

.popup-open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__button--active {
  background-color: #66d2cf;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Fraunces;
  font-display: swap;
  src: url("../fonts/Fraunces_9pt-Black.woff2") format("woff2"), url("../fonts/Fraunces_9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.about-main-text {
  font-size: 16px;
  line-height: 162.5%;
  font-family: Barlow;
  font-weight: 400;
}

.aboutUs-top {
  padding: 0 15px;
}

.no-webp .aboutUs-top__container {
  background: url("../img/about/desktop/image-hero-whitecup.jpg") 0 0/cover no-repeat; }

.aboutUs-top__container {
  padding: 137px 85px;
  border-radius: 6px;
}

.aboutUs-top__body {
  color: #fefcf7;
  max-width: 445px;
}

.aboutUs-top__title {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 24px;
}

.commitment {
  padding: 0 15px;
}

.commitment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 168px 0 256px;
}

.body-commitment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
}

.body-commitment__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 445px;
          flex: 0 0 445px;
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-commitment__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 7.6% 0px 11.3%;
}

.body-commitment__content-title {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 32px;
}

.quality {
  color: #fefcf7;
  padding: 0 15px;
}

.quality__container {
  background-color: #2c343e;
  border-radius: 6px;
}

.body-quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 6.5% 0px 6.5%;
}

.body-quality__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 88px 30px 176px 0px;
  max-width: 540px;
}

.body-quality__content-title {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 32px;
}

.body-quality__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 445px;
          flex: 0 0 445px;
  position: relative;
  bottom: 88px;
  border-radius: 6px;
  overflow: hidden;
}

.headquarters {
  padding: 0 15px;
}

.headquarters__container {
  padding: 168px 84px;
}

.body-headquarters__title {
  margin-bottom: 72px;
  font-size: 24px;
  line-height: 133.3333333333%;
  color: #83888f;
}

.body-headquarters__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-headquarters__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.column-headquarters__image {
  margin-bottom: 46px;
}

.column-headquarters__title {
  font-size: 32px;
  line-height: 118.75%;
}

.column-headquarters__text {
  font-size: 16px;
  line-height: 162.5%;
  font-family: Barlow;
  font-weight: 400;
}

body {
  font-family: Fraunces;
  font-size: 16px;
  color: #333d4b;
  background-color: #fefcf7;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.main-text {
  font-family: Barlow;
  font-weight: 400;
}

.start {
  padding: 0 15px;
}

.no-webp .start__container {
  background: url("../img/home/desktop/image-hero-coffeepress.jpg") center/cover no-repeat; }

.start__container {
  padding: 116px 85px;
  border-radius: 10px;
}

.start__content {
  max-width: 493px;
  color: #f4f1eb;
}

.start__content-title {
  font-size: 72px;
  line-height: 100%;
  margin-bottom: 32px;
}

.start__content-text {
  margin-bottom: 56px;
}

.start__content-button {
  color: #fefcf7;
  background-color: #0e8784;
}

.start__content-button:hover,
.start__content-button:active {
  background-color: #66d2cf;
}

.button {
  width: 217px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 138.8888888889%;
  border-radius: 5px;
}

.collection {
  padding: 9.7% 6% 14.3%;
}

.collection__content {
  max-width: 1111px;
  margin: 0 auto;
}

.collection__content-cards {
  margin-top: -4.5%;
}

.cards-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.7%;
}

.cards-collection__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.cards-collection__item-image {
  margin-bottom: 71px;
  text-align: center;
}

.cards-collection__item-title {
  font-size: 24px;
  line-height: 133.3333333333%;
  margin-bottom: 24px;
  text-align: center;
}

.cards-collection__item-text {
  text-align: center;
}

.advantages {
  padding: 0 15px;
}

.advantages__container {
  background-color: #2c343e;
  padding: 100px;
  border-radius: 10px;
  min-height: 577px;
  position: relative;
}

.advantages__content {
  max-width: 540px;
  color: #f4f1eb;
  margin: 0 auto;
}

.advantages__content-title {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 32px;
  text-align: center;
}

.advantages__content-text {
  text-align: center;
}

.cards-advantages {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.7%;
  max-width: 1110px;
  position: absolute;
  bottom: none;
  top: 65%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 10px;
}

.cards-advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  background-color: #0e8784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6.5% 4.3% 4.3%;
  color: #f4f1eb;
  border-radius: 10px;
}

.cards-advantages__item-image {
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
}

.cards-advantages__item-title {
  font-size: 24px;
  line-height: 133.3333333333%;
  text-align: center;
  margin-bottom: 24px;
}

.cards-advantages__item-text {
  text-align: center;
}

.order-steps__container {
  padding: 26% 6% 22.9%;
}

.order-steps__container--dark {
  background-color: #2c343e;
  padding: 115px 85px;
}

.order-steps__content {
  max-width: 1045px;
}

.order-steps__content-title {
  color: #83888f;
  font-size: 24px;
  line-height: 133.3333333333%;
  margin-bottom: 80px;
}

.order-steps__content-scale {
  max-width: 73%;
  height: 2px;
  background-color: #fdd6ba;
  margin-bottom: 82px;
}

.order-steps .scale {
  position: relative;
  margin-left: 15.5px;
}

.order-steps .scale__circle {
  width: 31px;
  height: 31px;
  border: 2px solid #0e8784;
  border-radius: 100%;
  position: absolute;
  top: -14.5px;
  background-color: #fefcf7;
}

.order-steps .scale__circle--transparent {
  background-color: transparent;
}

.order-steps .scale__circle1 {
  left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.order-steps .scale__circle2 {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.order-steps .scale__circle3 {
  right: 0;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.order-steps__content-cards {
  margin-bottom: 64px;
}

.order-steps__content-button {
  color: #fefcf7;
  background-color: #0e8784;
}

.order-steps__content-button:hover,
.order-steps__content-button:active {
  background-color: #66d2cf;
}

.cards-order-steps {
  max-width: 1045px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9%;
}

.cards-order-steps__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.cards-order-steps__item-number {
  font-size: 72px;
  line-height: 100%;
  color: #fdd6ba;
  margin-bottom: 38px;
}

.cards-order-steps__item-title {
  font-size: 32px;
  line-height: 112.5%;
  margin-bottom: 42px;
  max-width: 255px;
}

.cards-order-steps__item-title--white {
  color: #fefcf7;
}

.cards-order-steps__item-text--white {
  color: #fefcf7;
}

.cards-order-steps--dark {
  margin-bottom: 0;
}

@media (max-width: 1023.98px) {
  .header__body {
    padding: 0 40px;
  }

  .footer {
    margin-bottom: 72px;
  }

  .footer__container {
    padding: 54px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 33px;
    margin-right: 0;
  }

  .footer__menu {
    width: 283px;
    margin-bottom: 65px;
  }

  .footer .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .menu__item--footer:not(:last-child) {
    margin-right: 10%;
  }

  .no-webp .create-plan__container {
    background: url("../img/plan/tablet/image-hero-blackcup.jpg") 0 0/cover; }

  .no-webp .create-plan__container {
    background: url("../img/plan/mobile/image-hero-blackcup.jpg") 0 0/cover; }

  .create-plan__container {
    padding: 127px 58px 126px;
  }

  .create-plan {
    padding: 0 40px;
    margin-bottom: 144px;
  }

  .content-create-plan__title {
    font-size: 48px;
    line-height: 100%;
  }

  .preference__container {
    padding: 144px 40px;
  }

  .preference__summary {
    padding: 27px 44px;
  }

  .preference__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .sidebar-preference {
    display: none;
  }

  .accordion-preference {
    max-width: none;
  }

  .item-accordion__title {
    font-size: 32px;
    line-height: 150%;
  }

  .item-accordion__columns {
    gap: 10px;
  }

  .item-accordion__column {
    padding: 32px 25px;
  }

  .item-accordion--last {
    margin-bottom: 144px;
  }

  .item-accordion--active .item-accordion__columns {
    margin-top: 40px;
  }

  .about-main-text {
    font-size: 15px;
    line-height: 166.6666666667%;
  }

  .aboutUs-top {
    padding: 0 40px;
  }

  .no-webp .aboutUs-top__container {
    background: url("../img/about/tablet/image-hero-whitecup.jpg") 0 0/100% 100% no-repeat; }

  .aboutUs-top__container {
    padding: 118px 58px;
  }

  .aboutUs-top__title {
    font-size: 32px;
    line-height: 125%;
  }

  .commitment {
    padding: 0 40px;
  }

  .commitment__container {
    padding: 144px 0px 304px;
  }

  .body-commitment__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 281px;
            flex: 0 0 281px;
  }

  .body-commitment__content {
    padding: 0px 0px 0px 69px;
  }

  .body-commitment__content-title {
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 30px;
  }

  .quality {
    padding: 0 40px;
  }

  .body-quality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .body-quality__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 64px;
    max-width: initial;
  }

  .body-quality__content-title {
    text-align: center;
  }

  .body-quality__content-text {
    text-align: center;
  }

  .body-quality__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    bottom: 0;
    position: static;
    margin-top: -160px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .headquarters {
    padding: 0 40px;
  }

  .headquarters__container {
    padding: 144px 0;
  }

  .main-text--create-plan {
    font-size: 15px;
    line-height: 166.6666666667%;
  }

  .start {
    padding: 0 40px;
  }

  .no-webp .start__container {
    background: url("../img/home/tablet/image-hero-coffeepress.jpg") center/cover; }

  .start__container {
    padding: 104px 58px;
  }

  .start__content {
    max-width: 398px;
  }

  .start__content-title {
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  .start__content-text {
    font-size: 15px;
    line-height: 166.6666666667%;
    margin-bottom: 40px;
  }

  .collection {
    padding: 144px 40px;
  }

  .collection__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards-collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
    max-width: 573px;
  }

  .cards-collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .cards-collection__item-image {
    margin-bottom: 0;
  }

  .cards-collection__item-content {
    padding: 30px 0;
  }

  .cards-collection__item-text {
    font-size: 15px;
    line-height: 166.6666666667%;
  }

  .advantages {
    padding: 0 40px;
  }

  .advantages__container {
    padding: 56px;
    min-height: 573px;
  }

  .advantages__content-title {
    font-size: 32px;
    line-height: 150%;
  }

  .advantages__content-text {
    font-size: 15px;
    line-height: 166.6666666667%;
  }

  .cards-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
    max-height: 588px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 47%;
  }

  .cards-advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 583px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 41px 6.8% 41px 10%;
    gap: 10%;
  }

  .cards-advantages__item-image {
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards-advantages__item-content {
    max-width: 344px;
  }

  .cards-advantages__item-title {
    margin-bottom: 16px;
    text-align: start;
  }

  .cards-advantages__item-text {
    text-align: start;
    font-size: 15px;
    line-height: 166.6666666667%;
  }

  .order-steps__container {
    padding: 434px 40px 144px;
  }

  .order-steps__container--dark {
    padding: 97px 40px;
  }

  .order-steps__content-title {
    margin-bottom: 55px;
  }

  .order-steps__content-scale {
    margin-bottom: 62px;
  }

  .order-steps__content-cards {
    gap: 2%;
    margin-bottom: 44px;
  }

  .cards-order-steps {
    gap: 2%;
  }

  .cards-order-steps__item-number {
    margin-bottom: 42px;
  }

  .cards-order-steps__item-title {
    font-size: 28px;
    line-height: 114.2857142857%;
    margin-bottom: 38px;
  }

  .cards-order-steps__item-text {
    font-size: 15px;
    line-height: 166.6666666667%;
  }
}

@media (max-width: 767.98px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
  }

  .header__body {
    min-height: 90px;
    padding: 0 24px;
  }

  .header__logo {
    position: relative;
    z-index: 100;
  }

  .header__menu {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#fff), to(rgba(255, 255, 255, 0.5)));
    background: -o-linear-gradient(#fff, #fff, rgba(255, 255, 255, 0.5));
    background: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0.5));
    z-index: 99;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
  }

  .menu-open {
    left: 0;
  }

  .header__menu {
    font-size: 24px;
    line-height: 133.3333333333%;
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: none;
    color: #333d4b;
    padding-top: 130px;
  }

  .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__menu .menu__item {
    margin: 0;
    margin-bottom: 32px;
  }

  .footer__logo {
    margin-bottom: 48px;
  }

  .footer__menu {
    margin-bottom: 48px;
  }

  .footer .menu__list {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .menu__item--footer:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .create-plan__container {
    padding: 101px 24px;
  }

  .create-plan {
    padding: 0 24px;
  }

  .content-create-plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-create-plan__title {
    font-size: 40px;
    line-height: 100%;
    text-align: center;
  }

  .content-create-plan__text {
    text-align: center;
  }

  .preference__container {
    padding: 120px 24px;
  }

  .preference__summary {
    padding: 32px 25px;
    margin-bottom: 56px;
  }

  .item-accordion__title {
    font-size: 24px;
    line-height: 116.6666666667%;
  }

  .item-accordion__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }

  .item-accordion__column {
    padding: 24px 25px;
  }

  .item-accordion__column-title {
    margin-bottom: 8px;
  }

  .item-accordion--last {
    margin-bottom: 120px;
  }

  .item-accordion--active .item-accordion__columns {
    margin-top: 32px;
  }

  .popup__content {
    max-width: 327px;
  }

  .popup__title {
    height: 88px;
    font-size: 28px;
    line-height: 114.2857142857%;
    padding: 28px 24px;
  }

  .popup__summary-text {
    padding: 40px 24px 0px;
  }

  .popup__confirm-text {
    padding: 0 24px 24px;
    font-size: 15px;
    line-height: 166.6666666667%;
  }

  .popup__bottom {
    padding: 0 24px 24px;
  }

  .popup__price {
    display: none;
  }

  .popup__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .aboutUs-top {
    padding: 0 24px;
  }

  .no-webp .aboutUs-top__container {
    background: url("../img/about/mobile/image-hero-whitecup.jpg") 0 0/100% 100% no-repeat; }

  .aboutUs-top__container {
    padding: 111px 24px 87px;
  }

  .aboutUs-top__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }

  .aboutUs-top__title {
    font-size: 28px;
    line-height: 100%;
    text-align: center;
  }

  .aboutUs-top__text {
    text-align: center;
  }

  .commitment {
    padding: 0 24px;
  }

  .commitment__container {
    padding: 120px 0px 198px;
  }

  .body-commitment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-commitment__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-bottom: 48px;
  }

  .body-commitment__content {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-commitment__content-title {
    text-align: center;
  }

  .body-commitment__content-text {
    text-align: center;
  }

  .quality {
    padding: 0 24px;
  }

  .body-quality {
    padding: 24px 24px 61px 24px;
  }

  .body-quality__content {
    padding: 0;
  }

  .body-quality__content-title {
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  .body-quality__image {
    margin: -78px 0px 64px;
  }

  .headquarters {
    padding: 0 24px;
  }

  .headquarters__container {
    padding: 120px 0px;
  }

  .body-headquarters__title {
    text-align: center;
  }

  .body-headquarters__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-headquarters__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-headquarters__column:not(:last-child) {
    margin-bottom: 80px;
  }

  .column-headquarters__title {
    margin-bottom: 22px;
    font-size: 28px;
    line-height: 128.5714285714%;
  }

  .column-headquarters__text {
    text-align: center;
  }

  .start {
    padding: 0px 24px;
  }

  .no-webp .start__container {
    background: url("../img/home/mobile/image-hero-coffeepress.jpg") top/cover no-repeat; }

  .start__container {
    padding: 100px 24px;
  }

  .start__content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .start__content-title {
    font-size: 40px;
    line-height: 100%;
    text-align: center;
  }

  .start__content-text {
    text-align: center;
  }

  .collection {
    padding: 120px 24px;
  }

  .collection__content-image {
    margin-bottom: 13px;
  }

  .collection__content-cards {
    margin-top: 0;
  }

  .cards-collection {
    row-gap: 48px;
  }

  .cards-collection__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards-collection__item-image {
    max-width: 200px;
    height: 151px;
    margin-bottom: 24px;
  }

  .cards-collection__item-content {
    padding: 0;
  }

  .cards-collection__item-title {
    margin-bottom: 16px;
  }

  .advantages {
    padding: 0 24px;
  }

  .advantages__container {
    padding: 64px 24px;
    height: 902px;
  }

  .advantages__content-title {
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  .cards-advantages {
    top: 330px;
  }

  .cards-advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 72px 30px 51px;
  }

  .cards-advantages__item-image {
    margin-bottom: 56px;
  }

  .cards-advantages__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards-advantages__item-title {
    text-align: center;
    margin-bottom: 24px;
  }

  .cards-advantages__item-text {
    text-align: center;
  }

  .order-steps__container {
    padding: 700px 24px 120px;
  }

  .order-steps__container--dark {
    padding: 80px 24px;
  }

  .order-steps__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order-steps__content-title {
    margin-bottom: 80px;
  }

  .order-steps__content-scale {
    display: none;
  }

  .order-steps__content-cards {
    margin-bottom: 79px;
  }

  .cards-order-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 56px;
  }

  .cards-order-steps__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cards-order-steps__item-number {
    margin-bottom: 24px;
  }

  .cards-order-steps__item-title {
    max-width: initial;
    margin-bottom: 24px;
    text-align: center;
  }

  .cards-order-steps__item-text {
    text-align: center;
  }
}

@media (max-width: 374.98px) {
  .body-quality__content-title {
    font-size: 26px;
    line-height: 100%;
  }
}

.webp .create-plan__container { background: url(../img/plan/desktop/image-hero-blackcup.webp) 0 0/cover no-repeat; }

.webp .aboutUs-top__container { background: url(../img/about/desktop/image-hero-whitecup.webp) 0 0/cover no-repeat; }

.webp .start__container { background: url(../img/home/desktop/image-hero-coffeepress.webp) center/cover no-repeat; }

@media (max-width: 1023.98px) {

  .webp .create-plan__container { background: url(../img/plan/tablet/image-hero-blackcup.webp) 0 0/cover; }
}

@media (max-width: 1023.98px) {

  .webp .create-plan__container { background: url(../img/plan/mobile/image-hero-blackcup.webp) 0 0/cover; }
}

@media (max-width: 1023.98px) {

  .webp .aboutUs-top__container { background: url(../img/about/tablet/image-hero-whitecup.webp) 0 0/100% 100% no-repeat; }
}

@media (max-width: 1023.98px) {

  .webp .start__container { background: url(../img/home/tablet/image-hero-coffeepress.webp) center/cover; }
}

@media (max-width: 767.98px) {

  .webp .aboutUs-top__container { background: url(../img/about/mobile/image-hero-whitecup.webp) 0 0/100% 100% no-repeat; }
}

@media (max-width: 767.98px) {

  .webp .start__container { background: url(../img/home/mobile/image-hero-coffeepress.webp) top/cover no-repeat; }
}